.navbar-collapse{
    flex-grow: 0;
}

.navbar {
    background-color: #d5c5c8;
}



body {
    background: #f1f1f1;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #545863;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #545863;
    text-align: center;
}

.footer-text{
    color: white!important;
}

.nav-link {
    color: rgb(44, 44, 44);
}

.main-margin {
    margin-top: 50px;
    margin-bottom: 200px;
    position: relative;
}

.row {
    margin-bottom: 50px;
}

.left-main {
    position: relative;
    background: white;
    padding: 20px 20px 20px 20px;
    float: right;
}

.right-main {
    position: relative;
    background: white;
    padding: 20px 20px 20px 20px;
    float: left;
}

.description {
    text-align: left;
}

/* .img-pad {
    padding: 20px;
} */

.img-thumb {
    padding: 20px;
    float: left;
    max-width: 200px;
}

.img-menu {
    max-width: 50%;
    padding: 5px;
    float: left;
}

.img-compare {
    max-width: 100%;
    padding: 20px;
    float: left;
}

img {
    width: 100%;
    padding: 20px;
}

.img-menu:hover, .img-compare:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.compare-section {
    float: left;
    position: relative;
    max-width: 50%;
    margin: auto;
    padding: 10px;
}

.table-edits {
    max-width: 100%;
    background: white;
    padding: 20px;
}

.boxes {
    width: 100%;
    background-color: white;
}

.word-wrap {
    word-wrap: break-word;
}

.nav-foot {
    background-color: #545863;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 200px;
}

@media (max-width: 620px) {

body {
    background: white;
}    

.main-margin {
    margin-bottom: 100px;
}

.img-compare {
    max-width: 100%;
    display: block;
}

.compare-section {
    max-width: 100%;
}

h2, .description  {
    text-align: center;
}



}

